

@model dynamic

@{
    ViewBag.Title = "Twitter Quiz";
    Layout = "../Shared/_MasterLayout.cshtml";
}

@if (!Request.IsAuthenticated)
{
    @Html.Partial("_LogOn")
}
else
{
    <h2>Logged in as @ViewBag.Username</h2>
}