@model TwitterQuiz.ViewModels.Quiz.EditQuizViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h2>Create a new Quiz</h2>
        @Html.Partial("_EditQuiz", @Model)
    </div>
</div>
@section Scripts
{
    <script type="text/x-handlebars" id="round-template">
        <div class="panel panel-default round-template">
            <input data-val="true" data-val-number="The field Sequence must be a number." data-val-required="The Sequence field is required." id="Rounds_{{index}}__Sequence" name="Rounds[{{index}}].Sequence" type="hidden" value="{{index}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <input class="form-control" data-val="true" data-val-required="The Name field is required." id="Rounds_{{index}}__Name" name="Rounds[{{index}}].Name" placeholder="Round Name" type="text" value="{{name}}">
                            <span class="field-validation-valid help-block" data-valmsg-for="Rounds[{{index}}].Name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <a class="danger delete-round">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body questions">
                {{#each questions}}
                    {{> question}}
                {{/each}}
            </div>
            <div class="panel-footer">
                <a class="btn btn-success add-question" data-round="{{index}}">
                    <i class="fa fa-plus"> Add Question</i>
                </a>
            </div>
        </div>
    </script>
    <script type="text/x-handlebars" id="question-template">
        <div class="row form-stacked question-template">
            <div class="col-xs-10">
                <div class="form-group">
                    <textarea class="form-control" cols="20" data-val="true" data-val-required="The Question field is required." id="Rounds_{{round}}__Questions_{{index}}__Question" name="Rounds[{{round}}].Questions[{{index}}].Question" placeholder="Question" rows="2">{{question}}</textarea>
                    <span class="field-validation-valid help-block" data-valmsg-for="Rounds[{{round}}].Questions[{{index}}].Question" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-xs-2 pull-right">
                <a class="success add-answer" data-round="{{round}}" data-question="{{index}}">
                    <i class="fa fa-plus fa-lg"></i>
                </a>
                <a class="danger delete-question">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </div>
            <div class="answers">
                {{#each answers}}
                    {{> answer}}
                {{/each}}
            </div>
        </div>
        <hr />
    </script>
    <script type="text/x-handlebars" id="answer-template">
        <div class="answer-template">
            <div class="col-xs-10">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="no-margin-bottom" data-val="true" data-val-required="The IsCorrect field is required." id="Rounds_{{round}}__Questions_{{question}}__PossibleAnswers_{{index}}__IsCorrect" name="Rounds[{{round}}].Questions[{{question}}].PossibleAnswers[{{index}}].IsCorrect" type="checkbox" value="true">
                            <input name="Rounds[{{round}}].Questions[{{question}}].PossibleAnswers[{{index}}].IsCorrect" type="hidden" value="false">
                        </span>
                        <input class="form-control" data-val="true" data-val-required="The Answer field is required." id="Rounds_{{round}}__Questions_{{question}}__PossibleAnswers_{{index}}__Answer" name="Rounds[{{round}}].Questions[{{question}}].PossibleAnswers[{{index}}].Answer" placeholder="Possible answer" type="text" value="">
                    </div>
                    <span class="field-validation-valid help-block" data-valmsg-for="Rounds[{{round}}].Questions[{{question}}].PossibleAnswers[{{index}}].Answer" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-xs-2 pull-right">
                <a class="danger delete-answer">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(function() {
            $(document).on('click', '.add-round', function(e) {
                e.preventDefault();

                var roundIndex = Math.ceil($('.round-template').length);
                var roundNumber = roundIndex + 1;
                var context = { index: roundIndex, name: 'Round ' + roundNumber, questions: [{ round: roundIndex, index: 0, question: '', answers: [{ round: roundIndex, question: 0, index: 0, answer: '' }] }] };

                var source = $('#round-template').html();
                var template = Handlebars.compile(source);
                Handlebars.registerPartial("question", $("#question-template").html());
                Handlebars.registerPartial("answer", $("#answer-template").html());
                var html = template(context);
                $('#round-container').append(html);
            });
            $(document).on('click', '.delete-round', function(e) {
                e.preventDefault();
                $(this).closest('.round-template').remove();
            });
            $(document).on('click', '.add-question', function(e) {
                e.preventDefault();

                var $questions = $(this).closest('.round-template').children('.questions');
                var roundIndex = $(this).data("round");
                var questionIndex = $questions.children('.question-template').length;
                var context = { round: roundIndex, index: questionIndex, question: '', answers: [{ round: roundIndex, question: questionIndex, index: 0, answer: '' }] };

                var source = $('#question-template').html();
                var template = Handlebars.compile(source);
                Handlebars.registerPartial("answer", $("#answer-template").html());
                var html = template(context);
                $questions.append(html);
            });
            $(document).on('click', '.delete-question', function(e) {
                e.preventDefault();
                $(this).closest('.question-template').next().remove();
                $(this).closest('.question-template').remove();
            });
            $(document).on('click', '.add-answer', function(e) {
                e.preventDefault();
                var $answers = $(this).closest('.question-template').children('.answers');
                var roundIndex = $(this).data("round");
                var questionIndex = $(this).data("question");
                var answerIndex = $answers.children('.answer-template').length;
                var context = { round: roundIndex, question: questionIndex, index: answerIndex, answer: '' };

                var source = $('#answer-template').html();
                var template = Handlebars.compile(source);
                var html = template(context);
                $answers.append(html);
            });
            $(document).on('click', '.delete-answer', function(e) {
                e.preventDefault();
                $(this).closest('.answer-template').remove();
            });
        })
    </script>
}
