<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type=""/>
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="RAVEN_URI" value="https://lark.ravenhq.com/" />
    <add key="RAVEN_Database" value="AppHarbor_a3b530b6-63fd-4681-900a-e3db6866d8c9" />
    <add key="RAVEN_APIKEY" value="fa15dbce-f777-411f-a36f-3a2b99c0a60d" />
    <add key="ConsumerKey" value="RMEjl9PUttoX3jl34Bb3iQ" />
    <add key="ConsumerSecret" value="vpIEH6sBorbEo39JRsUTFivIcEX5e8EV3sLPHj2u54" />
  </appSettings>
</configuration>
