body {
    background: #DDD;
}
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; color: #68707b; }
a[href^="tel:"] {color: inherit;text-decoration:none;}

header {
    background: rgb(255,168,76); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 30px 0;
    text-align: center;
}
h1 { 
    text-transform: uppercase; 
    font-size: 3em;
    font-weight: 600;
    text-align: center; 
    padding: 30px 0 20px;
}
h1 span { 
    font-size: 16px; 
    line-height: 30px; 
    color: #68707b; 
    display: block; 
}
header h1 { 
    text-transform: none; 
	font-size: 5em;
    font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 20px;
	padding: 0;
}
header h1 span { 
    text-transform: uppercase; 
	font-size: 16px; 
	line-height: 30px; 
    font-weight: 600;
	color: #68707b;
	display: block; 
	letter-spacing: 1px;
}

/*
    Sign in
 *******************************/
.sign-in-buttons {
    text-align: center;
    padding: 10px 0;
}

.form-stacked input {
    margin-bottom: 10px;
}