@model DateTime

<div class="input-group date datepicker">
    @Html.TextBoxFor(x => x, new { @class="form-control" })
    <span class="add-on input-group-addon">
        <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar" class="fa fa-calendar">
        </i>
    </span>
</div>