<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Store.IP" value="127.0.0.1" />
    <add key="Store.Port" value="1113" />
    <add key="RAVEN_URI" value="https://lark.ravenhq.com/" />
    <add key="RAVEN_Database" value="AppHarbor_a3b530b6-63fd-4681-900a-e3db6866d8c9" />
    <add key="RAVEN_APIKEY" value="fa15dbce-f777-411f-a36f-3a2b99c0a60d" />
    <add key="ConsumerKey" value="RMEjl9PUttoX3jl34Bb3iQ" />
    <add key="ConsumerSecret" value="vpIEH6sBorbEo39JRsUTFivIcEX5e8EV3sLPHj2u54" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="2880" />
    </authentication>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <authenticationProviders>
    <providers>
      <add name="Twitter" key="Rb7qNNPUPsRSYkznFTbF6Q" secret="pP1jBdYOlmCzo08QFJjGIHY4YSyPdGLPO2m1q47hu9c" />
    </providers>
  </authenticationProviders>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
